.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 64px;
}

.header__title {
  z-index: 2;
  width: 730px;
  margin: 0;
  padding: 0;
  padding-left: 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  width: 388px;
  margin: 0;
  padding: 0;
  padding: 0px 0px 0px 64px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  background-size: cover;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}


.description {
margin-top: 100px;
margin-bottom: 100px;
}

.two-columns {
  margin: 0 auto;
  min-width: 784px;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  margin-top: 0px;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.two-columns__main-text {
   width: 80%;
   min-width: 784px;
   font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type{
  margin-bottom: 30px;
}

.two-columns__span-accent {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 34px;
  font-size: 24px;
}

.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 100px;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: bottom left;
  box-sizing: border-box;
}

.feynman__title{
  width: 648px;
  padding-top: 100px auto 70px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  }

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
}

.digits {
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  padding: 0;
  width: 60%;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  list-style: none;
  text-align: center;
}

.table {
  margin: 0;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style: none;
}

.table__cell {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  width: 250px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text:last-of-type{
  margin: 0;
  padding: 0;
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  color: #f2f2f2;
}

.kaufman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  }

.table_theme_dark {
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  margin-right: 0;
}

.section-title_theme_dark {
  position: relative;
  z-index: 1;
}

.footer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;

}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}

.footer__author {
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  list-style: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
}


